<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gpvEntities6x" connectionString="metadata=res://*/gpvModel6x.csdl|res://*/gpvModel6x.ssdl|res://*/gpvModel6x.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=gpv;persist security info=True;user id=sa;password=martini383940;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>